html{
	overflow: hidden;
}

body{
	background-color: #000;
	/* background-image: url('linkedin_full.png'); */
	background-repeat:  no-repeat;
	background-position: bottom;
	background-size: contain;
	color: #fff;
	text-align:  center;
	height: 500px;
}

.container-main *{
	top: 0 !important;
}

.hidden-toggle{
	z-index: 999;
	width: 50px;
	height: 50px;
	/* background-color: #222; */
	position: fixed;
	top: 0;
	right: 0;
}

.hidden-reload{
	z-index: 999;
	width: 50px;
	height: 50px;
	/* background-color: #222; */
	position: fixed;
	top: 0;
	left: 0;
}

.container{
	width: 100%;
	text-align:center;
	margin: auto;
	/* position: relative; */
	font-family: Calibri;
	font-size: 72px;
}

.bottom{
	position: fixed;
	height: 175px;
	background-repeat:  no-repeat;
	background-position: bottom;
	background-size: contain;
	bottom: 0;
}

.white-artifact{
	/* background-color: #fff; */
	z-index: 998;
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #000;
	text-align: center;
	margin: auto;
	font-family: Calibri;
	font-size: 72px;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.white-artifact.art-small{
	position: relative;
	width: 2em;
	height: 2em;
	display: inline-block;
}

.art-msft{
	background-image: url('msft.png');
}

.bot-msft{
	background-image: url('msft_full.png');
}

.art-linked{
	background-image: url('linkedin.png');
	
}

.bot-linked{
	background-image: url('linkedin_full.png');
}

.art-printer{
	background-image:  url('printer.png');
}

.art-pay{
	background-image:  url('pay.png');
}

.art-shop{
	background-image:  url('shop.png');
}

.art-coupon{
	background-image: url('coupon.png');
}

.art-checkin{
	background-image: url('checkin.png');
}

.art-checkin-done{
	background-image: url('checkin_done.png');
}

.art-lecture{
	background-image: url('lecture.png');
}

.test{
	background-color: green !important;
}

.moveDown{
		-webkit-transition: left 0.4s cubic-bezier(.45,.59,.96,.84);
		-moz-transition: left 0.4s ease-out;
		-o-transition: left 0.4s ease-out;
		transition: left 0.4s ease-out;
}