html{
	overflow: hidden;
}

body{
	background-color: #000;
	text-align:  center;
	height: 2000px;
}

.container{
	width: 100%;
	text-align:center;
	margin: auto;
}

.white-artifact{
	/* background-color: #fff; */
	background-image: 	url('linkedin.png');
	background-size: cover;
	background-position: center;
	color: #000;
	text-align: center;
	margin: auto;
	font-family: Calibri;
	font-size: 72px;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}